html{
  background-color: white;
  color: white;
}
/* .authenticate{
  background-image: url('./images/nature.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  border: 100%;
} */
.app {
  background-color: black;
}
